<!DOCTYPE html>
<html>
  <head>
    <title>Bookers1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Bookers" , root_path %></h1>
      <ul class="main_nav">
        <li class="nav_items"><%= link_to "新規投稿" , new_book_path %></li>
        <li class="nav_items"><%= link_to "投稿一覧" , books_path %></li>
        <li class="nav_items"><%= link_to "投稿編集" , edit_book_path%></li>
        <li class="nav_items"><%= link_to "投稿削除" , book_path %></li>
      </ul>
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
